<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <!-- <h2><%= articles %></h2> -->
    <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>


        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= 
                        article.title
                        %>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt %>
                        <!-- .toLocaleDateString() -->
                    </div>
                    <div class="card-text mb-2">
                         <%= article.description %>
                    </div>
                </div>
                <!-- <%= article.title %> -->
            </div>
        <% }) %> 


    </div>
</body>
</html>